/*HOMEPAGE*/

#_hiddensubmenu {
	display: none;
}

/*LOOKBOOK JUST CAVALLI*/


* {
	margin: 0;
	padding: 0;
}

.wrapper-widgets {
   width: 100%;
   margin-top: 72px;
}

.tabss {
    text-align: center !important;
}

.tabss input[type=radio] {
    display:none;
}

.tabss label {
    display: inline-grid;
    width: 19%;
    text-align: center;
    line-height: 2;
    cursor: pointer;
    margin-bottom: 57px;
    transition: border-bottom 1s ease;
    border-bottom: 1px transparent solid;
}


.tabss [id^="tab"]:checked + label {
    border-bottom: 1px solid #dec7b6;
    border-bottom-width: thin; 
}

.tab-style {
    color: #000 !important;
    font-size: 12px !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    line-height: 1.17 !important;
    letter-spacing: 2px !important;
}


 #tab1:checked ~ #tab-content1,
 #tab2:checked ~ #tab-content2,
 #tab3:checked ~ #tab-content3,
 #tab4:checked ~ #tab-content4,
 #tab5:checked ~ #tab-content5 {
    display: block;
}

.tab-content {
    display: none;
    width: 100%;
}

.ps-load-more-container {
	margin: 0 auto !important;
	display: inline-block !important;
}

.ps-load-more-button {
    min-width: 270px !important;
    height: 50px !important;
    min-height: 50px !important;
    display: flex !important;
    justify-content: center !important;
    align-self: flex-start !important;
    align-items: cente !importantr;
    align-content: center !important;
    vertical-align: middle !important;
    color: #fff !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    text-transform: uppercase !important;
    line-height: 1.17 !important;
    background-color: #000 !important;
    letter-spacing: 2px !important;
    margin: 24px 0;
    border: none !important;
}

.ps-load-more-button:hover {
    color: #000 !important;
    background: #dec7b6 !important;
}


/*=========================
    PRODUCT STYLES
==========================*/

#cavalli-carousel-product {
    text-align: center !important;
    border-top: 1px solid #dfc8b7;
    padding-top: 48px;
}

